@{
    ViewData["Title"] = "PizzaPazza";
}

<div class="text-center">
    <h1 class="display-4 ">Benvenuti</h1>

    <section class="container">
        <div>
           <img src="~/img/pizzabanner.jpeg" alt="Banner Pizza 404"/>
        </div>
    </section>
</div>
