@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Menu</h1>

<div class="text-center">
    <h1 class="display-4 ">Benvenuti</h1>

    <section class="container">
        <ul class="cards row-cols-1 row-cols-md-2 row-cols-lg-3 d-flex flex-wrap">
            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://static.cookist.it/wp-content/uploads/sites/21/2018/04/pizza-margherita-fatta-in-casa.jpg" alt="mixed vegetable salad in a mason jar. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Margherita &#x2022; $4</h2>
                        <div class="card_text">
                            <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.</p>
                            <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of protein for $2 more. </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://www.buttalapasta.it/wp-content/uploads/2017/11/pizza-napoletana-vera-ricetta.jpg" alt="mixed vegetable salad in a mason jar. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Bufala &#x2022; $7</h2>
                        <div class="card_text">
                            <p>Dig into the freshest veggies of the season! This salad-in-a-jar features a mixture of leafy greens and seasonal vegetables, fresh from the farmer's market.</p>
                            <p>Served with your choice of dressing on the side: housemade ranch, cherry balsamic vinaigrette, creamy chipotle, avocado green goddess, or honey mustard. Add your choice of protein for $2 more. </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://www.negroni.com/sites/negroni.com/files/styles/scale__1440_x_1440_/public/pizza_rustica.jpg?itok=Lbp_jtZW" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Diavola &#x2022; $6</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://media-cdn.tripadvisor.com/media/photo-s/17/0e/a8/e9/crudaiola.jpg" alt="A side view of a plate of figs and berries. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Crudaiola &#x2022; $6</h2>
                        <div class="card_text">
                            <p><span class="note">Seasonal.</span></p>
                            <p>A succulent sextet of fresh figs join with a selection of bodacious seasonal berries in this refreshing, shareable dessert.</p>
                            <p>Choose your drizzle: cherry-balsamic vinegar, local honey, or housemade chocolate sauce. </p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://assets.tmecosys.com/image/upload/t_web767x639/img/recipe/ras/Assets/97C2C718-5015-437F-8355-316EE000F57C/Derivates/556409BB-02E0-4BA3-BC16-F409F609FCED.jpg" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Marinara &#x2022; $5</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://i0.wp.com/www.piccolericette.net/piccolericette/wp-content/uploads/2017/12/3240_Pizza.jpg?resize=895%2C616&ssl=1" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Capricciosa &#x2022; $8</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://cdn.shopify.com/s/files/1/0507/5740/2773/articles/pizza_pesto_pistacchio_e_granella_pistacchio_edited_660x.jpg?v=1606684505" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">La morte tua &#x2022; $10</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://www.ricettasprint.it/wp-content/uploads/2020/11/Pizza-alle-patatine-fritte-ricettasprint.jpg" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">Wurstell & Patatine &#x2022; $6</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>

            <li class="cards_item">
                <div class="card">
                    <div class="card_image"><img src="https://recipesblob.oetker.com/files/95bdfe7334364b41b557c734cd1c64c4/889e39b112414a9aa2b3ae5a9f787f6b/1272x764/pizza-alla-romanajpg.jpg" alt="a Reuben sandwich on wax paper. "></div>
                    <div class="card_content">
                        <h2 class="card_title">A Romana &#x2022; $7</h2>
                        <div class="card_text">
                            <p>
                                All great meals take time, but this one takes it to the next level! More than 650 hours of fermenting, brining, aging, and curing goes into each and every one of our legendary Reuben sandwiches.
                            </p>
                            <p>Every element of this extraordinary sandwich is handcrafted in our kitchens, from the rye bread baked from our secret recipe to the cave-aged Swiss cheese, right down to the pickle. The only thing we didn't make on the premises is the toothpick ( but we're looking into how to do that). </p>
                            <p>This unforgettable sandwich has all of the classic Reuben elements: corned beef, rye bread, creamy Russian dressing, sauerkraut, plus a sweet gherkin pickle. No substitions please!
                            <p>
                            <p>Add a side of french fries or sweet potato fries for $2 more, or our housemade pub chips for $1.</p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
